{% extends 'index.html' %}
{% load static %}
{% block content %}
<header class="bgch"></header>
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ol>
      <h2>AMIS NEWS</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">
          {% for post in blog_list %}
          <article class="entry entry-single">

            <div class="entry-img">
              <img src="{{post.image_thumbnail.url}}" alt="image" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{post.created|date:"d-m-Y"}}</time></a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
               {{post.body|truncatewords:40}}
              </p>
            </div>

          </article><!-- End blog entry -->
          {% endfor %}
        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">
            <h3 class="sidebar-title text-center">Recent Posts</h3>
            <div class="sidebar-item recent-posts">
            {% for post in latest_posts %}
              <div class="post-item clearfix">
                <img src="{{post.image_thumbnail.url}}" alt="image">
                <h4><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                <time >{{post.created}}</time>
              </div>
              {% endfor %}
            </div><!-- End sidebar recent posts-->
          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

{% endblock content %}

